<div class="w h" style="">
    <div class="w h top-bg" style="line-height: 64px;">
        <div class="alain-default__nav-wrap h">
            <ul class="alain-default__nav h">

                <div class="cfff ls2 pl100 mb0" style="font-size: 22px">{{info?info:' '}}</div>

            </ul>
            <ul class="alain-default__nav" style="width: auto;">
                <li class="hidden-mobile">
                </li>
                <li class="hidden-mobile mr30">
                    <header-user></header-user>
                </li>
            </ul>
        </div>
    </div>
</div>

